// for different media
$mobail: "(max-width: 767px)";
$small: "(min-width: 768px)";
$medium: "(min-width: 992px)";
$large: "(min-width: 1200px)";

// for deposit and loan
$mainGradientDeposit: "linear-gradient(to top left, #39b385, #9be15d)";
// for withdrawl and close account
$mainGradientWithdrawl: "linear-gradient(to top left, #e52a5a, #ff585f)";
// for color like light green in and interest
$light-green: #66c873;
