//- google fonts (poppins)
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet")

//- normalize style
link(rel="stylesheet" href="css/normalize.css")

//- for icon (show icon beside title)
link(rel="shortcut icon" type="image/png" href="picture/icon.png")

//- banklist main style
link(rel="stylesheet" href="css/banklist.css")