footer(class="flex") 
  //- STATISTICS
  div(class="statistic flex")
    div(class="statist statist-in") IN <span class="in"></span> 
    div(class="statist statist-out") OUT <span class="out"></span> 
    div(class="statist statist-interest") INTEREST <span class="interest"></span> 
    button(class="btn-sort") &downarrow; SORT

  //- TIME OUT
  div(class="timing") You will be logged out in <span class="time-out"></span>